[submodule "javascript/drivers/jquery/lib/jquery-templates"]
	path = javascript/drivers/jquery/lib/jquery-templates
	url = https://github.com/wesleytodd/jQuery-Templates.git
[submodule "javascript/drivers/jquery/lib/jquery-validation"]
	path = javascript/drivers/jquery/lib/jquery-validation
	url = https://github.com/jzaefferer/jquery-validation.git
[submodule "javascript/drivers/jquery-mustache/lib/mustache"]
	path = javascript/drivers/jquery-mustache/lib/mustache
	url = https://github.com/janl/mustache.js.git
[submodule "javascript/drivers/jquery-mustache/lib/jquery-validation"]
	path = javascript/drivers/jquery-mustache/lib/jquery-validation
	url = https://github.com/jzaefferer/jquery-validation.git
[submodule "php"]
	path = php
	url = git@github.com:wesleytodd/Universal-Forms-PHP.git
