/* ==========================================================================
	Reset
/* ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
	display: block;
}
audio,
canvas,
video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
[hidden] {
	display: none;
}
abbr[title] {
	border-bottom: 1px dotted;
}
b,
strong {
	font-weight: bold;
}
blockquote {
	margin: 1em 40px;
}
dfn {
	font-style: italic;
}
mark {
	background: #ff0;
	color: #000;
}
code,
kbd,
pre,
samp {
	font-family: monospace, serif;
	_font-family: 'courier new', monospace;
	font-size: 1em;
}
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}
q {
	quotes: none;
}
q:before,
q:after {
	content: '';
	content: none;
}
small {
	font-size: 80%;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
svg:not(:root) {
	overflow: hidden;
}
figure {
	margin: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
nav ul,
nav ol {
	list-style: none;
	list-style-image: none;
	padding: 0;
	margin: 0;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
}

/* ==========================================================================
	Base
/* ========================================================================== */
html {
	height: 100%;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
	font-family: Play, Arial, sans-serif;
	color: #333;
}
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 1em;
	font-size: 1em;
	line-height: 1.4;
	background: #fff;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* ==========================================================================
	Links
/* ========================================================================== */
a {
	color: #4c5e51;
	text-decoration: underline;
}
a:focus,
a:hover {
	color: #6e5a46;
}
a:focus {
	outline: thin dotted;
}
a:active,
a:hover {
	outline: 0;
}

/* ==========================================================================
	Typography
/* ========================================================================== */
/* Headers */
h1, h2, h3, h4, h5, h6 {
	margin: 0 0 1em;
	text-align: center;
}
h1 {
	font-size: 2em;
	line-height: 1em;
	color: #34513d;
	text-shadow: 1px 1px 0 #444, -1px -1px 0 #fff, 2px 2px 5px #666;
}
h2 {
	font-size: 1.5em;
	line-height: 1.5em;
}
h3 {
	font-size: 1.3em;
}
h4 {
	font-size: 1.3em;
	font-weight: normal;
}
h5, h6 {
	font-size: 1.1em;
}

/* Content Block Elements */
dl,
menu,
ol,
ul,
p,
pre {
	margin: 0 0 1em;
}

/* Paragraphs */
p {

}

/* Lists */
menu,
ol,
ul {
	padding: 0 0 0 32px;
}

/* Selection Colors */
::-moz-selection {
	background: #999;
	color: #fff;
	text-shadow: none;
}
::selection {
	background: #999;
	color: #fff;
	text-shadow: none;
}

/* =============================================================================
	Reusable Elements
/* ========================================================================== */
button,
.button,
a.button,
input.button {
	display: inline-block;
}
button:focus,
.button:focus,
a.button:focus,
input.button:focus,
button:hover,
.button:hover,
a.button:hover,
input.button:hover {

}
button:active,
.button:active,
a.button:active,
input.button:active {

}

/* =============================================================================
	Structural Styles & Media Queries
/* ========================================================================== */

/* Less than 320px but will apply at all sizes */
#page-header {

}

/* 320px to 479px */
@media only screen and (min-width: 320px) {

}
/* 480px to 639px */
@media only screen and (min-width: 480px) {

}
/* 640px to 767px */
@media only screen and (min-width: 640px) {

}
/* 768px to 1024px */
@media only screen and (min-width: 768px) {

}
/* 1024px to 1534px */
@media only screen and (min-width: 1024px) {

}
/* More than 1534px */
@media only screen and (min-width: 1535px) {

}
/* High PX Density */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {

}

/* ==========================================================================
	Print styles.
	Inlined to avoid required HTTP connection: h5bp.com/r
/* ========================================================================== */
@media print {
	* {
		background: transparent !important;
		color: #000 !important;
		box-shadow:none !important;
		text-shadow: none !important;
	}
	a,
	a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}
	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group;
	}
	tr,
	img {
		page-break-inside: avoid;
	}
	img {
		max-width: 100% !important;
	}
	@page {
		margin: 0.5cm;
	}
	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}
	h2,
	h3 {
		page-break-after: avoid;
	}
}

